/* ===== GL TABLE PROFESSIONAL STYLE ===== */

.gl-table-wrapper table {
  border: 2px solid black !important;
  border-collapse: collapse !important;
  font-size: 18px;
}

/* Header */
.gl-table-wrapper th {
  border: 1px solid black !important;
  font-weight: bold;
  text-align: center;
}

/* Cells */
.gl-table-wrapper td {
  border: 1px solid black !important;
  vertical-align: middle;
}

/* Row hover effect */
.gl-table-wrapper tbody tr:hover {
  background-color: #f2f2f2 !important;
}

.gl-table-wrapper th {
  background-color: #343a40 !important;
  color: white !important;
}

.gl-table-wrapper .react-bootstrap-table table {
  border: 2px solid #000 !important;
  border-collapse: collapse !important;
}

/* Header border */
.gl-table-wrapper .react-bootstrap-table thead th {
  border: 1px solid #000 !important;
  background-color: cyan;
}

/* Body cells border */
.gl-table-wrapper .react-bootstrap-table tbody td {
  border: 1px solid #000 !important;
}

.gl-table-wrapper .react-bootstrap-table thead th {
  background-color: #343a40 !important;
  color: white !important;
}