.App {
  text-align: center;
  padding: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  padding: 5px;
  
}

.App-header {
  background-color: #222;
  height: 173px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.App-name {
  text-align: right;
 
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-user {
  color: white;
  padding-left: 1000px;

 
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
